@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --gradient: #000428;
    --background: 249 100% 98.16%;
    --foreground: 249 10% 0.32%;

    --muted: 249 10% 90.8%;
    --muted-foreground: 249 5% 40.8%;

    --popover: 249 10% 90.8%;
    --popover-foreground: 249 10% 0.4%;

    --card: 249 10% 90.8%;
    --card-foreground: 249 10% 0.4%;

    --border: 249 15% 89.32%;
    --input: 249 15% 89.32%;

    --primary: 249 100% 8%;
    --primary-foreground: 249 2% 90.8%;

    --secondary: 249 90.74% 55.69%;
    --secondary-foreground: 249 1% 90%;

    --accent: 249 5% 95.4%;
    --accent-foreground: 249 7% 10.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 249 100% 8%;

    --radius: 0.5rem;
  }
  .dark {
    --gradient: #acb6e5;

    --background: 244 33.800000000000004% 6.32%;
    --foreground: 244 5.2% 98.95%;

    --muted: 244 26% 23.700000000000003%;
    --muted-foreground: 244 5.2% 57.9%;

    --popover: 244 54.6% 10.27%;
    --popover-foreground: 244 5.2% 98.95%;

    --card: 244 54.6% 10.27%;
    --card-foreground: 244 5.2% 98.95%;

    --border: 244 26% 23.700000000000003%;
    --input: 244 26% 23.700000000000003%;

    --primary: 244 52% 79%;
    --primary-foreground: 244 5.2% 7.9%;

    --secondary: 244 26% 23.700000000000003%;
    --secondary-foreground: 244 5.2% 98.95%;

    --accent: 244 26% 23.700000000000003%;
    --accent-foreground: 244 5.2% 98.95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 244 5.2% 98.95%;

    --ring: 244 52% 79%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  font-size: 16px;
}

.safe-area-padding {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.safe-area-padding::before {
  content: "";
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: white;
  width: 100%;
}

.safe-area-padding::after {
  content: "";
  height: env(safe-area-inset-bottom);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  width: 100%;
}
